extends layout 

block content 
    h1(class='deleteTitle') #{title}: #{makers.name}
    p(class='dlt')= makers.description 

    if bikes.length

        p(class='dlt') #[strong Delete the following bikes before attempting to delete this category]

        div(class='dltErr') 
            dl 
            each bike in bikes 
                dt 
                    a(href=bike.url) #{bike.name}
                dd(class='dlt') #{bike.description} 

    else 
        p(class='dlt') Do you really want to delete this category?

        form(method='POST' action='' class='formDelete')
            input(type='hidden', name='categoryid', required='true', value=makers._id)
            button(type='submit') Delete