extends layout 

block content 
    nav 
        a(href='/catalog', class='navLinks') Home 
        a(href='/catalog/items', class='navLinks') All bikes
        a(href='/catalog/categorys', class='navLinks') All makes 
        a(href='/catalog/items/create', class='navLinks') Add bike 
        a(href='/catalog/category/create', class='navLinks') Add make
    h1= make_bike.name 

    h3= make_bike.description

    ul(class='detailContainer') 
        each bike in make 
            a(href=bike.url, class='detail') #{bike.name} 
        else 
            li(class='dlt') There are no bikes
    div(class='detailBtns')
        p 
            a(href=make_bike.url+'/delete') Delete category
        p 
            a(href=make_bike.url+'/update') Update category

    

            
            
            