extends layout 

block content
    nav 
        a(href='/catalog', class='navLinks') Home
        a(href='/catalog/categorys', class='navLinks') All makes 
        a(href='/catalog/item/create', class='navLinks') Add bike 
        a(href='/catalog/category/create', class='navLinks') Add make
    h1= title
    
    ul 
        each bike in bike_list 
            li 
                a(href=bike.url) #{bike.name} #{bike.category.name} #{bike.price} #{bike.description} #{bike.quantity}

        else 
            li There are no bikes.

