extends layout 

block content
    nav 
        a(href='/catalog', class='navLinks') Home
        a(href='/catalog/items', class='navLinks') All bikes
        a(href='/catalog/categorys', class='navLinks') All makes
        a(href='/catalog/item/create', class='navLinks') Add bike 
        a(href='/catalog/category/create', class='navLinks') Add make
    h1 #{bike_info.name} 

    ul(class='item_detail')
        li Description: #{bike_info.description}
        li Make: #{bike_info.category.name}
        li Price: $#{bike_info.price}
        li Quantity: #{bike_info.quantity}
    div(class='detailBtns')
        p 
            a(href=bike_info.url+'/delete') Delete bike
        p 
            a(href=bike_info.url+'/update') Update Bike